<!DOCTYPE html>


<style>

    .recipeCard{
        margin:10px;
    }
    .recipeCard img{
        margin:10px;
    }
</style>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <head>
        <h1>RECIPE LIST</h1>
    </head>


    <body>
        <div th:each="recipe: ${recipes}" class="card mb-3 recipeCard" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img th:src="${recipe.imageUrl}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${recipe.title}"></h4>
                        <div th:switch="${recipe.type}">
                            <span th:case="'VEGETARIAN'" class="badge badge-success" th:text="${recipe.type}"></span>
                            <span th:case="'MEAT'" class="badge badge-danger" th:text="${recipe.type}"></span>
                        </div>
                        <p class="card-text"><small class="text-muted" th:text="${recipe.date}"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </body>


</html>